.app {
  padding: 1rem;
  font-family: sans-serif;
  max-width: 50%;
  margin: 0 auto;
}

h3 {
  color: gray;
}

.app-header {
  text-align: center;
}

.url-form {
  padding: 10px;
  margin-top: 1rem;
  margin-left: 10%;
  display: flex;
  gap: 0.5rem;
}

.url-input {
  flex: 0 0 50%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.slug-input {
  flex: 0 0 10%;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.shorten-button {
  padding: 0.5rem;
  cursor: pointer;
}

.login-form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.login-button, .logout-button {
  padding: 0.5rem;
  cursor: pointer;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.url-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  border: none;
}

.url-table th {
  padding: 0.5rem;
  background: #b0c1ff;
  color: #000;
  text-align: left;
}

.url-table tr:nth-child(even) td {
  background: #f1f1f1;
}

.url-table tr:nth-child(odd) td {
  background: #fff;
}

.url-table td {
  padding: 0.5rem;
  border: none;
}

.content-container {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.table-container {
  flex: 2;
}

.dashboard-container {
  flex: 1;
  background: white;
}

.dashboard-bars {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 3.5rem;
}

.bar-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bar-label {
  min-width: 60px;
  text-align: right;
  color: #333;
}

.bar-container {
  flex-grow: 1;
  min-width: 0;
}

.bar {
  background-color: #b7b0ff;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  text-align: right;
  display: inline-block;
  min-width: 30px;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

.success {
  color: green;
}